.search {
    display: flex;
    justify-content: center;
}

.searchBar {
    display: flex;
    width: 40%;
}

.filters {
    display: flex;
    justify-content: center;
}

.select {
    margin: 5px 15px 5px 5px;
    border: 1px solid black;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    cursor: pointer;
}
